In [1]:
!pip install "polars[all]"

Collecting polars[all]
  Downloading polars-0.14.26-cp37-abi3-macosx_11_0_arm64.whl (11.7 MB)
     |████████████████████████████████| 11.7 MB 7.6 MB/s eta 0:00:01    |█████▊                          | 2.1 MB 1.6 MB/s eta 0:00:07     |█████████▍                      | 3.4 MB 1.6 MB/s eta 0:00:06     |███████████▋                    | 4.3 MB 1.6 MB/s eta 0:00:05     |█████████████████████████████▊  | 10.9 MB 4.0 MB/s eta 0:00:01
Requirement already satisfied: typing_extensions>=4.0.0 in /Users/toddiverson/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages (from polars[all]) (4.1.1)
Requirement already satisfied: pyarrow>=4.0.0 in /Users/toddiverson/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages (from polars[all]) (9.0.0)
Requirement already satisfied: numpy>=1.16.0 in /Users/toddiverson/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages (from polars[all]) (1.21.5)
Collecting xlsx2csv>=0.8.0
  Downloading xlsx2csv-0.8.0-py3-none-any.whl (13 kB)
Requirement already satisfied: matplotlib in /Users/toddiverson/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages (from polars[all]) (3.5.1)
Requirement already satisfied: pandas in /Users/toddiverson/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages (from polars[all]) (1.4.2)
Collecting connectorx
  Downloading connectorx-0.3.1-cp39-cp39-macosx_11_0_arm64.whl (42.0 MB)
     |████████████████████████████████| 42.0 MB 4.6 MB/s eta 0:00:01    |██                              | 2.7 MB 295 kB/s eta 0:02:14     |█████                           | 6.5 MB 192 kB/s eta 0:03:05     |██████▍                         | 8.4 MB 192 kB/s eta 0:02:55     |███████                         | 9.2 MB 4.3 MB/s eta 0:00:08     |████████▎                       | 10.9 MB 4.3 MB/s eta 0:00:08     |█████████▏                      | 12.0 MB 4.3 MB/s eta 0:00:07     |████████████▎                   | 16.2 MB 5.0 MB/s eta 0:00:06     |███████████████████████▍        | 30.8 MB 4.9 MB/s eta 0:00:03     |███████████████████████████▌    | 36.2 MB 5.9 MB/s eta 0:00:02     |███████████████████████████████▍| 41.2 MB 4.6 MB/s eta 0:00:01
Requirement already satisfied: fsspec in /Users/toddiverson/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages (from polars[all]) (2022.3.0)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/toddiverson/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages (from matplotlib->polars[all]) (3.0.4)
Requirement already satisfied: pillow>=6.2.0 in /Users/toddiverson/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages (from matplotlib->polars[all]) (9.0.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/toddiverson/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages (from matplotlib->polars[all]) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /Users/toddiverson/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages (from matplotlib->polars[all]) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/toddiverson/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages (from matplotlib->polars[all]) (1.4.2)
Requirement already satisfied: packaging>=20.0 in /Users/toddiverson/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages (from matplotlib->polars[all]) (21.3)
Requirement already satisfied: cycler>=0.10 in /Users/toddiverson/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages (from matplotlib->polars[all]) (0.11.0)
Requirement already satisfied: six>=1.5 in /Users/toddiverson/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib->polars[all]) (1.16.0)
Requirement already satisfied: pytz>=2020.1 in /Users/toddiverson/.pyenv/versions/anaconda3-2022.05/lib/python3.9/site-packages (from pandas->polars[all]) (2021.3)
Installing collected packages: xlsx2csv, polars, connectorx
Successfully installed connectorx-0.3.1 polars-0.14.26 xlsx2csv-0.8.0

# Introduction to Polars

## Polars provides Python next-generation data frames

* **Expressive.** Queries are familiar, readable, and combosable.
* **Parallel.** Can use all cores/threads
* **Fast.** [Fastest] in-memory data frames
* **Lazy.** Allows lazy evaluation for
    * Efficient memory usage
    * Query optimization
    * Filter pushdown
* **Eager.** Allows eager evaluation for convenience on small data sets.

In [3]:
import polars as pl

## Our first dataframe

In [4]:
df = pl.DataFrame({"Names": ["Iverson", "Malone", "Bergen"],
                   "Python_mastery": [10, 5, 1.0],
                   "Love_of_R": [2, 5, 11],
                   "years_at_wsu": [4, 17, 5]})
df.head()

shape: (3, 4)
┌─────────┬────────────────┬───────────┬──────────────┐
│ Names   ┆ Python_mastery ┆ Love_of_R ┆ years_at_wsu │
│ ---     ┆ ---            ┆ ---       ┆ ---          │
│ str     ┆ f64            ┆ i64       ┆ i64          │
╞═════════╪════════════════╪═══════════╪══════════════╡
│ Iverson ┆ 10.0           ┆ 2         ┆ 4            │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Malone  ┆ 5.0            ┆ 5         ┆ 17           │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Bergen  ┆ 1.0            ┆ 11        ┆ 5            │
└─────────┴────────────────┴───────────┴──────────────┘

## Reading from a csv

* Most data sets will be read in from a csv or JSON data file
* `Pandas` provides `read_csv` and `read_json`

### Open a local file w/ relative path

In [5]:
# Won't work in colab
artists = pl.read_csv('./data/Artists.csv')
artists.head()

shape: (5, 9)
┌────────────┬───────────┬─────────┬───────────┬─────┬───────────┬─────────┬──────────┬───────────┐
│ Constituen ┆ DisplayNa ┆ ArtistB ┆ Nationali ┆ ... ┆ BeginDate ┆ EndDate ┆ Wiki QID ┆ ULAN      │
│ tID        ┆ me        ┆ io      ┆ ty        ┆     ┆ ---       ┆ ---     ┆ ---      ┆ ---       │
│ ---        ┆ ---       ┆ ---     ┆ ---       ┆     ┆ i64       ┆ i64     ┆ str      ┆ i64       │
│ i64        ┆ str       ┆ str     ┆ str       ┆     ┆           ┆         ┆          ┆           │
╞════════════╪═══════════╪═════════╪═══════════╪═════╪═══════════╪═════════╪══════════╪═══════════╡
│ 1          ┆ Robert    ┆ America ┆ American  ┆ ... ┆ 1930      ┆ 1992    ┆ null     ┆ null      │
│            ┆ Arneson   ┆ n, 1930 ┆           ┆     ┆           ┆         ┆          ┆           │
│            ┆           ┆ –1992   ┆           ┆     ┆           ┆         ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2          ┆ Doroteo   ┆ Spanish ┆ Spanish   ┆ ... ┆ 1936      ┆ 0       ┆ null     ┆ null      │
│            ┆ Arnaiz    ┆ , born  ┆           ┆     ┆           ┆         ┆          ┆           │
│            ┆           ┆ 1936    ┆           ┆     ┆           ┆         ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 3          ┆ Bill      ┆ America ┆ American  ┆ ... ┆ 1941      ┆ 0       ┆ null     ┆ null      │
│            ┆ Arnold    ┆ n, born ┆           ┆     ┆           ┆         ┆          ┆           │
│            ┆           ┆ 1941    ┆           ┆     ┆           ┆         ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 4          ┆ Charles   ┆ America ┆ American  ┆ ... ┆ 1946      ┆ 0       ┆ Q1063584 ┆ 500027998 │
│            ┆ Arnoldi   ┆ n, born ┆           ┆     ┆           ┆         ┆          ┆           │
│            ┆           ┆ 1946    ┆           ┆     ┆           ┆         ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 5          ┆ Per       ┆ Danish, ┆ Danish    ┆ ... ┆ 1941      ┆ 0       ┆ null     ┆ null      │
│            ┆ Arnoldi   ┆ born    ┆           ┆     ┆           ┆         ┆          ┆           │
│            ┆           ┆ 1941    ┆           ┆     ┆           ┆         ┆          ┆           │
└────────────┴───────────┴─────────┴───────────┴─────┴───────────┴─────────┴──────────┴───────────┘

### Open a web address

In [6]:
url = "https://github.com/MuseumofModernArt/collection/raw/master/Artists.csv"
artists =  pl.read_csv(url)
artists.head()

shape: (5, 9)
┌────────────┬───────────┬─────────┬───────────┬─────┬───────────┬─────────┬──────────┬───────────┐
│ Constituen ┆ DisplayNa ┆ ArtistB ┆ Nationali ┆ ... ┆ BeginDate ┆ EndDate ┆ Wiki QID ┆ ULAN      │
│ tID        ┆ me        ┆ io      ┆ ty        ┆     ┆ ---       ┆ ---     ┆ ---      ┆ ---       │
│ ---        ┆ ---       ┆ ---     ┆ ---       ┆     ┆ i64       ┆ i64     ┆ str      ┆ i64       │
│ i64        ┆ str       ┆ str     ┆ str       ┆     ┆           ┆         ┆          ┆           │
╞════════════╪═══════════╪═════════╪═══════════╪═════╪═══════════╪═════════╪══════════╪═══════════╡
│ 1          ┆ Robert    ┆ America ┆ American  ┆ ... ┆ 1930      ┆ 1992    ┆ null     ┆ null      │
│            ┆ Arneson   ┆ n, 1930 ┆           ┆     ┆           ┆         ┆          ┆           │
│            ┆           ┆ –1992   ┆           ┆     ┆           ┆         ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2          ┆ Doroteo   ┆ Spanish ┆ Spanish   ┆ ... ┆ 1936      ┆ 0       ┆ null     ┆ null      │
│            ┆ Arnaiz    ┆ , born  ┆           ┆     ┆           ┆         ┆          ┆           │
│            ┆           ┆ 1936    ┆           ┆     ┆           ┆         ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 3          ┆ Bill      ┆ America ┆ American  ┆ ... ┆ 1941      ┆ 0       ┆ null     ┆ null      │
│            ┆ Arnold    ┆ n, born ┆           ┆     ┆           ┆         ┆          ┆           │
│            ┆           ┆ 1941    ┆           ┆     ┆           ┆         ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 4          ┆ Charles   ┆ America ┆ American  ┆ ... ┆ 1946      ┆ 0       ┆ Q1063584 ┆ 500027998 │
│            ┆ Arnoldi   ┆ n, born ┆           ┆     ┆           ┆         ┆          ┆           │
│            ┆           ┆ 1946    ┆           ┆     ┆           ┆         ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 5          ┆ Per       ┆ Danish, ┆ Danish    ┆ ... ┆ 1941      ┆ 0       ┆ null     ┆ null      │
│            ┆ Arnoldi   ┆ born    ┆           ┆     ┆           ┆         ┆          ┆           │
│            ┆           ┆ 1941    ┆           ┆     ┆           ┆         ┆          ┆           │
└────────────┴───────────┴─────────┴───────────┴─────┴───────────┴─────────┴──────────┴───────────┘

# JSON data file

* Another (more modern) storage
* Here the data is stored in row `dict`

```{json}
[
{
  "ConstituentID": 1,
  "DisplayName": "Robert Arneson",
  "ArtistBio": "American, 1930–1992",
  "Nationality": "American",
  "Gender": "Male",
  "BeginDate": 1930,
  "EndDate": 1992,
  "Wiki QID": null,
  "ULAN": null
},
{
  "ConstituentID": 2,
  "DisplayName": "Doroteo Arnaiz",
  "ArtistBio": "Spanish, born 1936",
  "Nationality": "Spanish",
  "Gender": "Male",
  "BeginDate": 1936,
  "EndDate": 0,
  "Wiki QID": null,
  "ULAN": null
},
...
```

## `polars` can read `json` data

In [7]:
# Won't work in colab
artists =  pl.read_json('./data/Artists.json')
artists.head()

shape: (5, 9)
┌────────────┬───────────┬─────────┬───────────┬─────┬───────────┬─────────┬──────────┬───────────┐
│ Constituen ┆ DisplayNa ┆ ArtistB ┆ Nationali ┆ ... ┆ BeginDate ┆ EndDate ┆ Wiki QID ┆ ULAN      │
│ tID        ┆ me        ┆ io      ┆ ty        ┆     ┆ ---       ┆ ---     ┆ ---      ┆ ---       │
│ ---        ┆ ---       ┆ ---     ┆ ---       ┆     ┆ i64       ┆ i64     ┆ str      ┆ str       │
│ i64        ┆ str       ┆ str     ┆ str       ┆     ┆           ┆         ┆          ┆           │
╞════════════╪═══════════╪═════════╪═══════════╪═════╪═══════════╪═════════╪══════════╪═══════════╡
│ 1          ┆ Robert    ┆ America ┆ American  ┆ ... ┆ 1930      ┆ 1992    ┆ null     ┆ null      │
│            ┆ Arneson   ┆ n, 1930 ┆           ┆     ┆           ┆         ┆          ┆           │
│            ┆           ┆ –1992   ┆           ┆     ┆           ┆         ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2          ┆ Doroteo   ┆ Spanish ┆ Spanish   ┆ ... ┆ 1936      ┆ 0       ┆ null     ┆ null      │
│            ┆ Arnaiz    ┆ , born  ┆           ┆     ┆           ┆         ┆          ┆           │
│            ┆           ┆ 1936    ┆           ┆     ┆           ┆         ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 3          ┆ Bill      ┆ America ┆ American  ┆ ... ┆ 1941      ┆ 0       ┆ null     ┆ null      │
│            ┆ Arnold    ┆ n, born ┆           ┆     ┆           ┆         ┆          ┆           │
│            ┆           ┆ 1941    ┆           ┆     ┆           ┆         ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 4          ┆ Charles   ┆ America ┆ American  ┆ ... ┆ 1946      ┆ 0       ┆ Q1063584 ┆ 500027998 │
│            ┆ Arnoldi   ┆ n, born ┆           ┆     ┆           ┆         ┆          ┆           │
│            ┆           ┆ 1946    ┆           ┆     ┆           ┆         ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 5          ┆ Per       ┆ Danish, ┆ Danish    ┆ ... ┆ 1941      ┆ 0       ┆ null     ┆ null      │
│            ┆ Arnoldi   ┆ born    ┆           ┆     ┆           ┆         ┆          ┆           │
│            ┆           ┆ 1941    ┆           ┆     ┆           ┆         ┆          ┆           │
└────────────┴───────────┴─────────┴───────────┴─────┴───────────┴─────────┴──────────┴───────────┘

## <font color="red"> Exercise 2.1.2 </font>
    
Use tab-completion and `help` to discover and explore two more methods of reading a file into a `Pandas` dataframe.

In [ ]:
pl.read_ #<-- Tab here

> Discuss what you found here

> Looks like we can read csv, excel, json, parquet; as well as perform batch jobs.

## <font color="red"> Exercise 2.1.2 </font>
    
Read in the `Artwork.csv` from [https://github.com/MuseumofModernArt/collection](https://github.com/MuseumofModernArt/collection) and display the head of the resulting dataframe.

In [10]:
# Your code ther

## So what is a `DateFrame`

* Like R, Pandas focuses on columns
* Think `dict` of `(str, Series)` pairs 
* A series is a typed list-like structure

In [17]:
# This is how I imagine a dataframe
df = pl.DataFrame({"Names": ["Iverson", "Malone", "Bergen"],
                   "Python_mastery": [10, 5, 1.0],
                   "years_at_wsu": [4.5, 17.5, 5.5]})

In [18]:
type(df)

polars.internals.dataframe.frame.DataFrame

## Columns are `Series` and hold one type of data

In [19]:
type(artists['BeginDate']), type(artists['DisplayName'])

(polars.internals.series.series.Series, polars.internals.series.series.Series)

In [20]:
artists['BeginDate'].dtype, artists['DisplayName'].dtype

(polars.datatypes.Int64, polars.datatypes.Utf8)

## Two ways to access a column

* **Method 1:** Actual data series
    * `df["column_name"]`
* **Method 2:** lazy column expression used in other context
    * `pl.col('column_name')`
    * Only for proper names!

In [22]:
artists['BeginDate'].head(2)

shape: (2,)
Series: 'BeginDate' [i64]
[
	1930
	1936
]

In [24]:
pl.col('BeginDate') # Nothing (yet)

## More on data types

* See all data types with `df.dtypes`
* You can set the `dtypes` when you read a dataframe
* Read more about types: [Pandas docs](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dtypes.html)

In [25]:
import polars.datatypes

dir(polars.datatypes)

['Any',
 'Binary',
 'Boolean',
 'Callable',
 'Categorical',
 'ColumnsType',
 'DTYPE_TEMPORAL_UNITS',
 'DataType',
 'DataTypeMappings',
 'Date',
 'Datetime',
 'Decimal',
 'Dict',
 'Duration',
 'Field',
 'Float32',
 'Float64',
 'ForwardRef',
 'Int16',
 'Int32',
 'Int64',
 'Int8',
 'List',
 'Mapping',
 'NoneType',
 'Null',
 'Object',
 'OptionType',
 'Optional',
 'PolarsDataType',
 'Schema',
 'Sequence',
 'Struct',
 'T',
 'TYPE_CHECKING',
 'TemporalDataType',
 'Time',
 'Tuple',
 'Type',
 'TypeVar',
 'UInt16',
 'UInt32',
 'UInt64',
 'UInt8',
 'Union',
 'UnionType',
 'Unknown',
 'Utf8',
 '_DOCUMENTING',
 '_DataTypeMappings',
 '_PYARROW_AVAILABLE',
 '_SimpleCData',
 '__annotations__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_base_type',
 '_custom_reconstruct',
 '_get_idx_type',
 'annotations',
 'cache',
 'ctypes',
 'date',
 'datetime',
 'dtype_str_repr',
 'dtype_to_arrow_type',
 'dtype_to_ctype',
 'dtype_to_ffiname',
 'dtype_to_py_type',
 'functools',
 'get_args',
 'get_idx_type',
 'is_polars_dtype',
 'isclass',
 'maybe_cast',
 'numpy_char_code_to_dtype',
 'pa',
 'py_type_to_arrow_type',
 'py_type_to_dtype',
 're',
 'supported_numpy_char_code',
 'sys',
 'time',
 'timedelta']

In [26]:
artists.dtypes

[polars.datatypes.Int64,
 polars.datatypes.Utf8,
 polars.datatypes.Utf8,
 polars.datatypes.Utf8,
 polars.datatypes.Utf8,
 polars.datatypes.Int64,
 polars.datatypes.Int64,
 polars.datatypes.Utf8,
 polars.datatypes.Utf8]

## Setting `dtypes` with `read_csv`

We can pass a `dict` of types to `dtype` keyword

In [27]:
import numpy as np
artist_types = {'ConstituentID': pl.Int64,
                'DisplayName': pl.Utf8,
                'ArtistBio': pl.Utf8,
                'Nationality': pl.Utf8,
                'Gender':pl.Utf8,
                'BeginDate': pl.Int64,
                'EndDate': pl.Int64,
                'Wiki QID': pl.Utf8,
                'ULAN':pl.Int64} 
artists2 = pl.read_csv('./data/artists.csv', dtypes = artist_types)
artists2.head()

shape: (5, 9)
┌────────────┬───────────┬─────────┬───────────┬─────┬───────────┬─────────┬──────────┬───────────┐
│ Constituen ┆ DisplayNa ┆ ArtistB ┆ Nationali ┆ ... ┆ BeginDate ┆ EndDate ┆ Wiki QID ┆ ULAN      │
│ tID        ┆ me        ┆ io      ┆ ty        ┆     ┆ ---       ┆ ---     ┆ ---      ┆ ---       │
│ ---        ┆ ---       ┆ ---     ┆ ---       ┆     ┆ i64       ┆ i64     ┆ str      ┆ i64       │
│ i64        ┆ str       ┆ str     ┆ str       ┆     ┆           ┆         ┆          ┆           │
╞════════════╪═══════════╪═════════╪═══════════╪═════╪═══════════╪═════════╪══════════╪═══════════╡
│ 1          ┆ Robert    ┆ America ┆ American  ┆ ... ┆ 1930      ┆ 1992    ┆ null     ┆ null      │
│            ┆ Arneson   ┆ n, 1930 ┆           ┆     ┆           ┆         ┆          ┆           │
│            ┆           ┆ –1992   ┆           ┆     ┆           ┆         ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2          ┆ Doroteo   ┆ Spanish ┆ Spanish   ┆ ... ┆ 1936      ┆ 0       ┆ null     ┆ null      │
│            ┆ Arnaiz    ┆ , born  ┆           ┆     ┆           ┆         ┆          ┆           │
│            ┆           ┆ 1936    ┆           ┆     ┆           ┆         ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 3          ┆ Bill      ┆ America ┆ American  ┆ ... ┆ 1941      ┆ 0       ┆ null     ┆ null      │
│            ┆ Arnold    ┆ n, born ┆           ┆     ┆           ┆         ┆          ┆           │
│            ┆           ┆ 1941    ┆           ┆     ┆           ┆         ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 4          ┆ Charles   ┆ America ┆ American  ┆ ... ┆ 1946      ┆ 0       ┆ Q1063584 ┆ 500027998 │
│            ┆ Arnoldi   ┆ n, born ┆           ┆     ┆           ┆         ┆          ┆           │
│            ┆           ┆ 1946    ┆           ┆     ┆           ┆         ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 5          ┆ Per       ┆ Danish, ┆ Danish    ┆ ... ┆ 1941      ┆ 0       ┆ null     ┆ null      │
│            ┆ Arnoldi   ┆ born    ┆           ┆     ┆           ┆         ┆          ┆           │
│            ┆           ┆ 1941    ┆           ┆     ┆           ┆         ┆          ┆           │
└────────────┴───────────┴─────────┴───────────┴─────┴───────────┴─────────┴──────────┴───────────┘

## More on `None` and `NaN`

* `None`/`null` is a missing value.
* `NaN` represents the result of an undefined operation
* `NaN` is **not** missing

In [28]:
df = pl.DataFrame({'a': [-1, 0 , 1, None],
                   'b': [1, 2, None, 4],
                   'c': [1, 2, float('nan'), 4]})
df

shape: (4, 3)
┌──────┬──────┬─────┐
│ a    ┆ b    ┆ c   │
│ ---  ┆ ---  ┆ --- │
│ i64  ┆ i64  ┆ f64 │
╞══════╪══════╪═════╡
│ -1   ┆ 1    ┆ 1.0 │
├╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 0    ┆ 2    ┆ 2.0 │
├╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 1    ┆ null ┆ NaN │
├╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┤
│ null ┆ 4    ┆ 4.0 │
└──────┴──────┴─────┘

### `Nan` are a result of undefined operations

In [29]:
df_w_sqrt = (df
             .select([pl.col('a'),
                      pl.col('a').sqrt().alias('sqrt_a'),
                     ])
)
df_w_sqrt

shape: (4, 2)
┌──────┬────────┐
│ a    ┆ sqrt_a │
│ ---  ┆ ---    │
│ i64  ┆ f64    │
╞══════╪════════╡
│ -1   ┆ NaN    │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 0    ┆ 0.0    │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 1    ┆ 1.0    │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ null ┆ null   │
└──────┴────────┘

### `Nan`  are not `None`

In [30]:
(df_w_sqrt
 .with_columns([
          pl.col('sqrt_a').is_null().alias('sqrt_a_is_null'),
          pl.col('sqrt_a').is_nan().alias('sqrt_a_is_nan'),
             ])
)

shape: (4, 4)
┌──────┬────────┬────────────────┬───────────────┐
│ a    ┆ sqrt_a ┆ sqrt_a_is_null ┆ sqrt_a_is_nan │
│ ---  ┆ ---    ┆ ---            ┆ ---           │
│ i64  ┆ f64    ┆ bool           ┆ bool          │
╞══════╪════════╪════════════════╪═══════════════╡
│ -1   ┆ NaN    ┆ false          ┆ true          │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 0    ┆ 0.0    ┆ false          ┆ false         │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1    ┆ 1.0    ┆ false          ┆ false         │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ null ┆ null   ┆ true           ┆ null          │
└──────┴────────┴────────────────┴───────────────┘

## `NaN` and `None` affect aggregation differently.

We will discuss the effects of these values on aggregation in a future lecture.

#### Getting summary statistics for each column with `describe`

In [32]:
df.describe()

shape: (7, 4)
┌────────────┬──────┬──────────┬─────┐
│ describe   ┆ a    ┆ b        ┆ c   │
│ ---        ┆ ---  ┆ ---      ┆ --- │
│ str        ┆ f64  ┆ f64      ┆ f64 │
╞════════════╪══════╪══════════╪═════╡
│ count      ┆ 4.0  ┆ 4.0      ┆ 4.0 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ null_count ┆ 1.0  ┆ 1.0      ┆ 0.0 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ mean       ┆ 0.0  ┆ 2.333333 ┆ NaN │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ std        ┆ 1.0  ┆ 1.527525 ┆ NaN │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ min        ┆ -1.0 ┆ 1.0      ┆ 1.0 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ max        ┆ 1.0  ┆ 4.0      ┆ 4.0 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ median     ┆ 0.0  ┆ 2.0      ┆ 3.0 │
└────────────┴──────┴──────────┴─────┘

## Preview of coming attractions

* Now we can switch `BeginDate` and `EndDate` from `0` to `pl.null`
* We will do this in the next section

# Getting to know your data

## Basic inspection tools

* `df.head()`        first five rows
* `df.tail()`        last five rows
* `df.sample(5)`     random sample of rows
* `df.shape`         number of rows/columns in a tuple
* `df.describe()`    calculates measures of central tendency
* `df.info()`

## <font color="red"> Exercise 2.1.3: Inspect the artwork from MoMA </font>

#### Read the csv and inspect the `head`

In [ ]:
artwork.head()

**Task:** Write a few sentences describing an problems

*Your thoughts here*

#### Inspect the column names with the `columns` attribute

In [17]:
artwork.columns

Index(['Title', 'Artist', 'ConstituentID', 'ArtistBio', 'Nationality',
       'BeginDate', 'EndDate', 'Gender', 'Date', 'Medium', 'Dimensions',
       'CreditLine', 'AccessionNumber', 'Classification', 'Department',
       'DateAcquired', 'Cataloged', 'ObjectID', 'URL', 'ThumbnailURL',
       'Circumference (cm)', 'Depth (cm)', 'Diameter (cm)', 'Height (cm)',
       'Length (cm)', 'Weight (kg)', 'Width (cm)', 'Seat Height (cm)',
       'Duration (sec.)'],
      dtype='object')

**Question:** See any problems?

*Your thoughts here*

#### Inspect the tail

In [ ]:
artwork.tail()

#### Check out the `shape`

In [ ]:
artwork.shape

**Question:** What do these number mean?

*Your thoughts here*

#### Use `describe` to compute statistics

In [ ]:
artwork.describe()

**Question:** What did you learn from the last cell?

*Your thoughts here*